
@{
    ViewBag.Title = "Crear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fas fa-user-friends"></i> Clientes</a></li>
        <li class="breadcrumb-item active" aria-current="page">Registrar</li>
    </ol>
</nav>

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header bg-info text-white">
                Lista de Clientes
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-sm btn-success" onclick="abrirPopUpForm(null)"> <i class="fa fa-plus" aria-hidden="true"></i> Agregar Nuevo</button>
                    </div>
                </div>
                <hr />
                <div class="row mt-3">
                    <div class="col-sm-12">
                        <table id="tbdata" class="table table-striped table-bordered nowrap compact" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Tipo Documento</th>
                                    <th>Numero Documento</th>
                                    <th>Nombres</th>
                                    <th>Direccion</th>
                                    <th>Telefono</th>
                                    <th>Estado</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card-footer">
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="FormModal" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info text-white">
                <h5 class="modal-title" id="exampleModalLabel">Cliente</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="form">
                    <input id="txtid" class="model" value="0" type="hidden" />
                    <div class="form-group row">
                        <label for="cboclientetipodocumento" class="col-sm-2 col-form-label col-form-label-sm">Tipo Documento</label>
                        <div class="col-sm-10">
                            <select class="form-control form-control-sm model" id="cboclientetipodocumento">
                                <option value="Cedula">Cedula</option>
                                <option value="Pasaporte Extranjero">Pasaporte Extranjero</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-2 col-form-label col-form-label-sm">Numero Documento <span class="error"></span></label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control form-control-sm required" id="txtNumeroDocumento" name="numerodocumento" placeholder="XXX-XXXXXX-XXXXY" oninput="formatCedula(this)">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-2 col-form-label col-form-label-sm">Nombres <span class="error"></span></label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control form-control-sm required" id="txtNombres" name="nombres" placeholder="Digita Nombre">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-2 col-form-label col-form-label-sm">Direccion <span class="error"></span></label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control form-control-sm required" id="txtDireccion" name="direccion" placeholder="Digita Direccion">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label col-form-label-sm">Telefono <span class="error"></span></label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control form-control-sm required" id="txtTelefono" name="telefono" placeholder="Digita Telefono">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label col-form-label-sm">Activo</label>
                        <div class="col-sm-10">
                            <select class="form-control form-control-sm model" id="cboEstado" name="Activo">
                                <option value="1">Activo</option>
                                <option value="0">No Activo</option>
                            </select>
                        </div>
                    </div>


                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Cerrar</button>
                <button id="btnGuardarCambios" type="button" class="btn btn-sm btn-primary" onclick="Guardar()">Guardar</button>
            </div>
        </div>
    </div>
</div>


<div class="form-group row" id="cedulaInput" style="display: none;">
    <label for="txtCedula" class="col-sm-2 col-form-label col-form-label-sm">Cedula</label>
    <div class="col-sm-10">
        
        <input type="text" class="form-control form-control-sm" id="txtCedula" placeholder="donde">
    </div>
</div>

<script>
    function formatCedula(input) {
        // Remover cualquier carácter que no sea un dígito en los primeros 14 caracteres y una letra en el último
        var cedula = input.value.slice(0, 15).replace(/\D/g, '') + input.value.slice(15).replace(/[^a-zA-Z]/g, '').toUpperCase();
        
        // Si la longitud de la cédula es mayor a 15, se elimina el exceso
        if (cedula.length > 15) {
            cedula = cedula.slice(0, 15);
        }
        
        // Insertar el guion en la posición adecuada
        var formattedCedula = cedula.slice(0, 3) + '-' + cedula.slice(3, 9) + '-' + cedula.slice(9, 14);
        
        // Si la cédula tiene 15 caracteres, agregar la letra al final
        if (cedula.length === 15) {
            formattedCedula += cedula.slice(14, 15);
        }
        
        // Establecer el valor formateado de nuevo en el input
        input.value = formattedCedula;
    }
</script>
@section scripts{
    <script src="@Url.Content("~/Scripts/Views/Cliente_Crear.js")" type="text/javascript"></script>
}

